<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Densidade Formula</title>
    <link rel="stylesheet" href="../assets/css/densidadeformula.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../index.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
            <a href="../index.html"><h1 class="titulo">Matematic</h1></a>

            <nav class="header-nav">
                <a class="header-nav-component" href="../index.html">Home</a>
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>
    </header>

    <img class="banner" src="../assets/img/densidade-banner.png">
    
    <div class="formulas">
        <h1>Fórmula do Densidade</h1>
    </div>

    <div class="formul">

        <img class="img-formul" src="../assets/img/densidade-formula.png">
        <h2 class="explicacao-formul">Explicação da Fórmula</h2>
        <h3 class="explicacao-formul"> A densidade é uma medida da quantidade de massa contida em um determinado volume de uma substância. Para calcular a densidade, é necessário conhecer a massa e o volume da substância em questão. A fórmula para calcular a densidade é densidade = massa / volume. A massa é geralmente medida em gramas (g) e o volume em unidades de volume, como centímetros cúbicos (cm³) ou litros (L). Para obter um resultado preciso, é importante utilizar as mesmas unidades de medida para massa e volume. A densidade é uma propriedade física que pode ser utilizada para identificar substâncias e também é amplamente aplicada em várias áreas da ciência, como química, física e geologia.</h3>

    </div>

    <footer>
        
        <h3>Onde nos encontrar:</h3>

        <div class="contt01">
            <a href="https://www.instagram.com/matemaatic__/" target="_blank"><img class="insta" src="../assets/img/instagram-logo.png"> <h4>@matemaatic__</h4></a>
        </div>

    </footer>

</body>
</html>