<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC Formula</title>
    <link rel="stylesheet" href="../assets/css/imcformula.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../index.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
            <a href="../index.html"><h1 class="titulo">Matematic</h1></a>

            <nav class="header-nav">
                <a class="header-nav-component" href="../index.html">Home</a>
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>
    </header>

    <img class="banner" src="../assets/img/imc-banner.png">

    <div class="formulas">
        <h1>Fórmula do IMC</h1>
    </div>

    <div class="formul">

        <img class="img-formul" src="../assets/img/imc-formul.png">
        <h2 class="explicacao-formul">Explicação da Fórmula</h2>
        <h3 class="explicacao-formul"> O Índice de Massa Corporal (IMC) é uma medida utilizada para avaliar se uma pessoa está com peso adequado em relação à sua altura. O cálculo do IMC é feito dividindo-se o peso da pessoa em quilogramas pelo quadrado da sua altura em metros. A fórmula para calcular o IMC é IMC = peso (kg) / (altura (m))^2. O resultado obtido é um valor numérico que pode ser interpretado em faixas de classificação, como abaixo do peso, peso normal, sobrepeso e obesidade. O IMC é amplamente utilizado como uma ferramenta de triagem para avaliar o risco de problemas de saúde relacionados ao peso, mas deve ser interpretado em conjunto com outros fatores, como composição corporal e distribuição de gordura. É importante ressaltar que o IMC é apenas uma medida geral e individualidades devem ser consideradas para uma avaliação completa da saúde de uma pessoa.</h3>

    </div>

    <footer>
        
        <h3>Onde nos encontrar:</h3>

        <div class="contt01">
            <a href="https://www.instagram.com/matemaatic__/" target="_blank"><img class="insta" src="../assets/img/instagram-logo.png"> <h4>@matemaatic__</h4></a>
        </div>

    </footer>

</body>
</html>