<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peso Formula</title>
    <link rel="stylesheet" href="../assets/css/pesoformula.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../index.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
            <a href="../index.html"><h1 class="titulo">Matematic</h1></a>
            
            <nav class="header-nav">
                <a class="header-nav-component" href="../index.html">Home</a>
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>
    </header>

    <img class="banner" src="../assets/img/peso-banner.png">

    <div class="formulas">
        <h1>Fórmula do Peso</h1>
    </div>

    <div class="formul">

        <img class="img-formul" src="../assets/img/peso-formula.png">
        <h2 class="explicacao-formul">Explicação da Fórmula</h2>
        <h3 class="explicacao-formul">Para converter quilogramas em onças, é necessário saber que 1 quilo é igual a 35,274 onças. Portanto, para fazer a conversão, basta multiplicar o valor em quilogramas pela taxa de conversão. Por exemplo, para converter 2 quilogramas em onças, multiplicamos 2 por 35,274, resultando em aproximadamente 70,548 onças.<br>
            Já para converter quilogramas em libras, é importante saber que 1 quilo equivale a 2,20462 libras. Assim, para fazer a conversão, multiplicamos o valor em quilogramas pela taxa de conversão. Por exemplo, se desejamos converter 5 quilogramas em libras, multiplicamos 5 por 2,20462, obtendo cerca de 11,023 libras.<br>
            Essas são as fórmulas básicas para converter quilogramas em onças e libras. É importante lembrar que as taxas de conversão são aproximadas e podem variar ligeiramente dependendo do contexto.</h3>

    </div>

    <footer>
        
        <h3>Onde nos encontrar:</h3>

        <div class="contt01">
            <a href="https://www.instagram.com/matemaatic__/" target="_blank"><img class="insta" src="../assets/img/instagram-logo.png"> <h4>@matemaatic__</h4></a>
        </div>

    </footer>

</body>
</html>