<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pitagoras Formula</title>
    <link rel="stylesheet" href="../assets/css/pitagorasformula.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../index.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
            <a href="../index.html"><h1 class="titulo">Matematic</h1></a>
            
            <nav class="header-nav">
                <a class="header-nav-component" href="../index.html">Home</a>
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>
    </header>

    <img class="banner" src="../assets/img/pitagoras-banner.png">

    <div class="formulas">
        <h1>Fórmula Pitagoras</h1>
    </div>

    <div class="formul">

        <img class="img-formul" src="../assets/img/formula-pitagoras.png">
        <h2 class="explicacao-formul">Explicação da Fórmula</h2>
        <h3 class="explicacao-formul"> O teorema de Pitágoras é usado para calcular o comprimento da hipotenusa de um triângulo retângulo. Para aplicá-lo, identifique os lados do triângulo: a hipotenusa (c) e os catetos (a e b). Em seguida, eleve ao quadrado os valores dos catetos, some esses quadrados e tire a raiz quadrada do resultado para obter a hipotenusa. O teorema de Pitágoras só é válido para triângulos retângulos, onde um dos ângulos é de 90 graus. Certifique-se de ter um triângulo retângulo antes de usar esse cálculo.</h3>

    </div>

    <footer>
        
        <h3>Onde nos encontrar:</h3>

        <div class="contt01">
            <a href="https://www.instagram.com/matemaatic__/" target="_blank"><img class="insta" src="../assets/img/instagram-logo.png"> <h4>@matemaatic__</h4></a>
        </div>

  
    </footer>
</body>
</html>