<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatura Formula</title>
    <link rel="stylesheet" href="../assets/css/temperaturaformula.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../index.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
            <a href="../template/index.html"><h1 class="titulo">Matematic</h1></a>
            
            <nav class="header-nav">
                <a class="header-nav-component" href="../index.html">Home</a>
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>
    </header>

    <img class="banner" src="../assets/img/banner-temp.png">

    <div class="formulas">

        <h1>Fórmulas das Temperaturas</h1>

    </div>

    <div class="formul">

        <img class="img-formul" src="../assets/img/temp-form.png">
        <h2 class="explicacao-formul">Explicação da Fórmula</h2>
        <h3 class="explicacao-formul">Para converter Celsius em Fahrenheit, podemos usar a fórmula de conversão: F = C * 9/5 + 32. Nessa fórmula, "F" representa a temperatura em Fahrenheit e "C" representa a temperatura em Celsius. Por exemplo, se temos 25 graus Celsius, podemos calcular sua equivalente em Fahrenheit da seguinte maneira: F = 25 * 9/5 + 32, resultando em aproximadamente 77 graus Fahrenheit.<br>
            Já para converter Celsius em Kelvin, utilizamos a fórmula: K = C + 273.15. Nessa fórmula, "K" representa a temperatura em Kelvin e "C" representa a temperatura em Celsius. Por exemplo, se temos 20 graus Celsius, podemos calcular sua equivalente em Kelvin da seguinte forma: K = 20 + 273.15, resultando em aproximadamente 293.15 Kelvin.<br>
            Essas fórmulas são amplamente utilizadas para converter temperaturas entre as escalas Celsius, Fahrenheit e Kelvin. É importante ter em mente que a conversão precisa pode envolver mais casas decimais, mas para a maioria dos casos cotidianos, utilizar essas fórmulas simplificadas é suficiente.</h3>

    </div>

    <footer>
        
        <h3>Onde nos encontrar:</h3>

        <div class="contt01">
            <a href="https://www.instagram.com/matemaatic__/" target="_blank"><img class="insta" src="../assets/img/instagram-logo.png"> <h4>@matemaatic__</h4></a>
        </div>

    </footer>
</body>
</html>